#fundo1{
    background-image: linear-gradient(rgb(241, 10, 172), rgb(66, 8, 49));
}
#fundo2{
	background-color: #2b0318;
}
#fundo3{
  background-color: #300019;
}
section, article{
  background-color: #300019;
}
footer{
  background-color: #1b0310;
  text-align: center;
}
h1, em, p, h2, h6, h5, h4{
  margin: 0;
}
#d{
  padding: 40;
}
#td{
  color:green;
}
body{
  display: block;
  margin: 0px;
}
h3{
    margin: 2px;
    color: rgb(36, 3, 3);
}
#letra{
  color: white;
}
#capslock{
  text-transform: uppercase;
}
#tamanho{
  font-size: 20px;
}
#tam{
    font-size: 40px;
    text-shadow: 1px 1px 5px rgb(48, 3, 3);
}
#p1{
    text-indent: 50px;
    width: 1300px;
    text-align: left;
    text-align: justify;
    color: white;
}
menu{
  column-count: auto
}